<div class="key-list__block">
    <h3 class="key-list__title">Current value:</h3>
    <ul class="keys-list__value list-value">
        {
        {% for key, value in d.cur_value.items() %}
            {#                            {% if d.mod_keys and key in d.mod_keys %}list-value__item--changed{% endif %}#}
            <li class="list-value__item">
                {% if not value is iterable and not value is mapping or value is string %}
                    {{ key }}: {{ value }}

                {% elif value is mapping and not value is iterable %}
                    {{ key }}:

                    <ul>
                        {% for k, v in value.items() %}
                            <li class="list-value__item">{{ k }}: {{ v }}</li>
                        {% endfor %}
                    </ul>

                {% elif value is iterable and not value is mapping %}
                    {{ key }}:
                    <ul>
                        {% for i in range(value|length) %}
                            {% if value[i] is mapping %}
                                {{ i }}: {
                                <ul>
                                    {% for k, v in value[i].items() %}
                                        <li class="list-value__item">{{ k }}: {{ v }}</li>
                                    {% endfor %}
                                </ul>
                                }
                                <br>
                            {% else %}
                                <ul>
                                    <li class="list-value__item">{{ i }}: {{ value[i] }}</li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        }
    </ul>
</div>